.h1text {
    font-weight: lighter;
    position: absolute;
    top: 50px;
    left:20px;
    background-color: #F5EBEB;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-box {
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 20px;
    background-color: #F5EBEB;

}

.contact-paragraph {
    display: inline-block;
    width: 250px;
    height: 280px;
    color: #875940;
    text-align: left;
    background-color: #F5EBEB;
    position: absolute;
    top: 200px;
}





@media screen and (max-width:667px) {

    .paragraph-box {
        width: 350px;
        height: 300px;
    }

    .contact-paragraph {
        position: absolute;
        top: 200px;
        right: 10px;
    }

    .paragraph-box {
        width: 350px;
        height: 500px;
    }
}