

.nav-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #ded4d8;
    text-decoration: none;
    height:80px;
}

.navbar {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: rgb(155, 129, 129);
}

.logo-container {
    margin-top:20px;
}

.nav-link-logo {
    text-decoration: none;
    color: rgb(80, 55, 55);
    font-size:25px;
}

.logo {
    width:100px;
}

@media screen and (max-width:667px) {
    .navbar {
        gap: 1rem;
    }
    }




