.welcomehome {
    color: #875940;
    font-weight: lighter;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    max-width:1400px;
    align-items: center;
    margin:auto;
    margin-top:50px;
}

.wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width:100%;
    margin: 0 auto;
    gap:50px;
}

.color-box {
    width: 500px;
    background-color: rgb(216, 173, 203);
    height:500px;
}


.imgportfolio {
    width: 600px;
}

@media screen and (max-width:667px) {

    .portfolio-container {
        flex-direction: column;
    }

    .imgportfolio {
        width: 300px;
    }

    .color-box {
        width: 300px;
        height:200px;
    }
}