.welcomehome {
    color: #875940;
    font-weight: lighter;
    text-transform: uppercase;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    max-width:1400px;
    align-items: center;
    margin:auto;
    margin-top:50px;
}

.wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width:100%;
    margin: 0 auto;
    gap:50px;
}


.sugar-text {
    position:absolute;
    top:80px;
    background-color: rgb(237, 226, 233);
    font-size:medium;
}


.imgportfolio {
    width: 900px;
}

.imgportfolio2 {
    width: 900px;
    margin-bottom: 50px;
}

@media screen and (max-width:667px) {

    .portfolio-container {
        flex-direction: column;
    }

    .imgportfolio {
        width: 300px;
    }
    .imgportfolio2 {
        width: 350px;
    }
}